{
    "extends": [
        "airbnb",
        "plugin:meteor/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "meteor": true
    },
    "plugins": [
        "meteor"
    ],
    "settings": {
        "import/resolver":  {
            "meteor": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    },
    "rules":{
        "no-else-return": 0,
        "no-absolute-path": 0,
        "no-underscore-dangle": [2, {"allow":["_id"]}],
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-absolute-path": 0,
        "react/prefer-stateless-function": 0
    }
}